{% extends "base.html" %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}

        <section id="about-home">
                    <h2>Blog /</h2>
        </section>
        
        {% for post in posts %}
        <section id="blog-container">
            <div class="blogs">
                <div class="post">
                 {% if post.image %}
                     <img src="{{ post.image.url }}" alt="{{ post.title }}">
                 {% endif %}
                <h3>{{ post.title }}</h3>
                <p>{{ post.content|truncatewords:20 }}</p>  <!-- Truncate to show a short preview -->
                <a href="{% url 'blog_detail' slug=post.slug %}">Read More</a>
                </div>
             </div>
        </section>
        {% endfor %}


    
            <div class="cate">
                <h2>Categories</h2>
                <hr>
                <a href="#">Web Development</a>
                <hr>
                <a href="#">Web Design</a>
                <hr>
                <a href="#">App Development</a>
                <hr>
                <a href="#">Frontend Web </a>
                <hr>
                <a href="#">Python Programming</a>
                <hr>
                <a href="#">Javascript Hack</a>
                <hr>
            </div>
        </section>
{% endblock %}
