{% extends "base.html" %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}

        <section id="about-home">
                    <h2>Blog /</h2>
        </section>
        
        {% for post in posts %}
        <section id="blog-container">  
            <div class="blogs">
                <div class="post">
                 {% if post.image %}
                     <img src="{{ post.image.url }}" alt="{{ post.title }}">
                 {% endif %}
                <h3>{{ post.title }}</h3>
                <p>{{ post.content|truncatewords:20 }}</p>  <!-- Truncate to show a short preview -->
                <a href="{% url 'blog_detail' slug=post.slug %}">Read More</a>
                </div>
             </div>
           
             
            <div class="cate">
                <h2>Categories</h2>
                {% for post in posts %}
                <hr>
                <a href="{% url 'blog_detail' slug=post.slug %}">{{ post.title }}</a>
                <hr>
                  {% endfor %}
            </div>
            
        </section>
        {% endfor %}
        

{% endblock %}
