{% block content %}
<h2>Update Semester</h2>

<form method="POST">
    {% csrf_token %}
    <label for="number">Semester Number</label>
    <input type="text" id="number" name="number" value="{{ semester.number }}" required><br><br>

    <label for="description">Description</label>
    <textarea id="description" name="description" required>{{ semester.description }}</textarea><br><br>

    <button type="submit">Update Semester</button>
</form>


{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

<a href="{% url 'semester-list' %}">Back to List</a>

{% endblock %}
