{% extends "user/base.html" %}
{% block content %}

    <h1>Subjects</h1>
    
    <ul>
        {% for subject in subjects %}
            <li>
                <p>Subject ID: {{ subject.id }}</p> <!-- Debugging line -->
                <p>Subject Name: {{ subject.name }}</p>
                {% if subject.id %}
                 <a href="{% url 'subject-detail' subject.id %}">View Details</a>
                {% else %}
                 <p>Invalid Subject Data</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'subject-create' %}">Create New Subject</a>

{% endblock %}
