<nav>
	<img src="/static/images/logo.svg" alt="">
	<div class="navigation">
		<ul>
			<i id="menu-close" class="fas fa-times"></i>
			<li><a class="active" href="{% url "index" %}">Home</a></li>
			<li><a href="{% url "about" %}">About</a></li>
			<li><a href="{% url "blog" %}">Blog</a></li>
			<li><a href="{% url "courses"  %}">Courses</a></li>
			<li><a href="{% url "contact" %}">Contact</a></li>
			{% if user.is_authenticated %}
			<li><a href="{% url "logout" %}">LogOut</a></li>
			{% else %}
			<li><a href="{% url "login" %}">Login</a></li>
			<li><a href="{% url "register" %}">Sign Up</a></li>
			{% endif %}

		</ul>
		<img  id="menu-btn" src="/static/images/menu.png" alt="">
	</div>
</nav>
	


