{% extends "base.html" %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}

        <!-- Home -->
        
        <section id="blog-container">
            <div class="blogs blogpost">
                <div class="post">
                    <img src="/static/images/b1.jpg" alt="">
                    <h3>Learn Web Develeopment In The Easiest Way</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, nemo doloremque iste tenetur ducimus magni laudantium odio doloribus eaque dolores! Amet, mollitia earum expedita voluptates similique est aliquam quibusdam accusantium!<br><br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem a officiis, fugiat quaerat quo quidem amet non deleniti facilis sequi? Dolores earum tenetur ab voluptatem velit blanditiis sunt qui autem.<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio facilis possimus corporis recusandae ut officiis dignissimos provident nobis nam saepe, tempore assumenda tempora beatae voluptas illo maxime reiciendis aliquid error.<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, aliquam ullam. Cupiditate esse accusantium sequi minus aut ipsam, dicta impedit et assumenda unde quisquam! Nobis asperiores optio facilis provident voluptas?</p>
                    <a href="#">Read Next ?</a>
                </div>
            </div>
        </section>

{% endblock %}